@font-face {
    font-family: 'woodshopregular';
    src: url('../fonts/woodshop-regular-webfont.eot');
    src: url('../fonts/woodshop-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woodshop-regular-webfont.woff') format('woff'),
         url('../fonts/woodshop-regular-webfont.ttf') format('truetype'),
         url('../fonts/woodshop-regular-webfont.svg#woodshopregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltregular';
    src: url('../fonts/futuralt-webfont.eot');
    src: url('../fonts/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-webfont.woff') format('woff'),
         url('../fonts/futuralt-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltheavy';
    src: url('../fonts/futuralt-heavy-webfont.eot');
    src: url('../fonts/futuralt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-heavy-webfont.woff') format('woff'),
         url('../fonts/futuralt-heavy-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-heavy-webfont.svg#futura_ltheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltlightoblique';
    src: url('../fonts/futuralt-lightoblique-webfont.eot');
    src: url('../fonts/futuralt-lightoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-lightoblique-webfont.woff') format('woff'),
         url('../fonts/futuralt-lightoblique-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-lightoblique-webfont.svg#futura_ltlightoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
