footer{
  position: relative;
  .footer-bg{
    position: absolute;
    width: 100%;
    height: 283px;
    #gradient > .vertical(rgba(224, 195, 157, 0), #9E5746);
    background: url('../images/body/noise.png') repeat;
    background-color: transparent;
  }
  .footer-bg:after{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -100px;
    background-color: #9E5746;
  }
  .footer-sunset{
    position: relative;
    background: url('../images/footer/sunset.png') 50% 0 no-repeat;
    // background: url('../images/footer/sunset.png') 50% 0 no-repeat, url('../images/body/noise.png') repeat;
    // background-color: @bodyBackground;
    height: 361px;
  }
  .footer-sand{
    position: relative;
    width: 100%;
    height: 98px;
    bottom: 0;
    background: url('../images/footer/sand-footer.png') 50% 50% no-repeat, url('../images/body/noise.png') repeat;
    background-color: @bodyBackground;
  }
  .antag-protag{
    position: absolute;
    background: url('../images/footer/antag-protag.png') 50% 50% no-repeat;
    height: 216px;
    width: 379px;
    bottom: 30px;
    left: 50%;
    margin-left: -190px;
  }
  .footer-content{
    line-height: @baseLineHeight * 2;
    background-color: @brownDark;
    color: @brownLight;
    font-size: @fontSizeSmall;
    font-weight: normal;
    color: @brownLight;
    p{
      margin: 0;
    }
  }
  .nav-footer{
    display: inline;
    margin-left: 5px;
    li{
      display: inline-block;
      padding-right: 10px;
    }
    li:before{
      content: '\00B7';
      margin-right: 10px;
    }
  }
  a{
    color: @brownLighter;
  }
  a:hover{
    color: @brownLighter;
  }
}
