footer{
  .footer-bg{
    position: relative;
    background: url('../images/footer/footer-bg.png') 50% 50% no-repeat, url('../images/body/noise.png') repeat;
    background-color: @bodyBackground;
    height: 453px;
  }
  .footer-content{
    background-color: @brownDark;
    color: @brownLight;
    text-align: center;
  }
  .antag-protag{
    position: absolute;
    background: url('../images/footer/antag-protag.png') 50% 50% no-repeat;
    height: 216px;
    width: 379px;
    bottom: 30px;
    left: 50%;
    margin-left: -190px;
  }
  .nav-footer{
    margin: 10px 0;
    font-size: @fontSizeSmall;
    li{
      display: inline-block;
      padding-right: 20px;
    }
    li:not(:last-of-type):after{
      content: '|';
      margin-left: 20px;
    }
  }
  a{
    color: @brownLight;
  }
  a:hover{
    color: @brownLighter;
  }
}
