footer{
  .footer-bg{
    position: relative;
    background: url('../images/footer/footer-bg.png') 50% 50% no-repeat, url('../images/body/noise.png') repeat;
    background-color: @bodyBackground;
    height: 453px;
  }
  .antag-protag{
    position: absolute;
    background: url('../images/footer/antag-protag.png') 50% 50% no-repeat;
    height: 216px;
    width: 379px;
    bottom: 30px;
    left: 50%;
    margin-left: -190px;
  }
  .footer-content{
    line-height: @baseLineHeight * 2;
    background-color: @brownDark;
    color: @brownLight;
    font-size: @fontSizeSmall;
    font-weight: normal;
    color: @brownLight;
    p{
      margin: 0;
    }
  }
  .nav-footer{
    display: inline;
    margin-left: 5px;
    li{
      display: inline-block;
      padding-right: 10px;
    }
    li:before{
      content: '\00B7';
      margin-right: 10px;
    }
  }
  a{
    color: @brownLighter;
  }
  a:hover{
    color: @brownLighter;
  }
}
