/* phones */
@media (max-width: 767px) {
  body {padding: 0; }
  .container{padding: 0 20px; }
  header {
    .protag {left: 0; }
    .antag {right: 0; }
    .board {right: 30px; }
  }
  .capture-bounty-board img{width: auto; }
  aside img{ display: none;}
  .sheriff-container,
  .github-container{
    text-align: center;
    img{ position: relative;}
  }

}
